
<div><p>Name:{{farmer.name}}</p>
  <p>Age:{{farmer.age}}</p>
  <p>Birth City: {{farmer.birthCity}}</p>
  <p>Skill Level:{{farmer.skillLevel}}</p>
  <h1>Farms</h1>
  <mat-tab-group>
    <mat-tab *ngFor="let farm of farms" [label]="farm.id">
      <app-tab-content-farm [farm]="farm"></app-tab-content-farm>
    </mat-tab>
  </mat-tab-group>
</div>
