<p> Farm Name - {{farm.id}}</p>
<p> Owner - {{farm.owner}}</p>
<h1>Farm Fields</h1>
<mat-tab-group>
  <mat-tab *ngFor="let farmField of farmFields" [label]="farmField.id.toString()">
    <app-tab-content-field [field]="farmField"></app-tab-content-field>
  </mat-tab>
</mat-tab-group>
